<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
     <div class="main-content">
       {{>header}}
       <!-- <p>Created by {{name}}</p> -->
       <img class="portrait"src="./img/robot.png" alt="">
     </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>  
</body>
</html>