<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
   <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <div class="main-content">
      {{>header}}
      <p>use this sites to get your weather</p>
      
      <form>
          <input placeholder='Location'>
          <button>search</button>
      </form>
        <p id='message-1'></p>
        <p id='message-2'></p>
    </div>
    
   <!--- <p>Created by {{name}}</p>--->
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>