/* h1{
    color: grey;
} */
body{
    color: royalblue;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}
/* footer{
    background-color: salmon;
    margin: 16px;;
    padding: 16px;
} */

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.portrait{
    width: 250px;
}