*{
    margin: 0px;
    padding: 0px;
}
.bg
{
    background-image: url('2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: aqua;

}
.headerleft
{
    widows: 25%;
    line-height: 80px;
    float: left;

}
.headerleft h1{
    padding: left 70px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;

}
.headeright{
    float: right;
}

.headeright ul li
{
    display: inline-block;
    font-size: 30px;
    padding: 20px;
    /* color: white; */
}
.headeright ul li:hover{
 background: lightgrey;
}
.text{
    width: 100%;
    margin-top: 185px;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: white;

}
.btn button{
    
    font-size: 50px;
    
}
.btn{
    text-align: center;
    border-radius: solid 5px;
    color: black;
    margin-top: 20px;
}
