
.navbar ul li{
  display: inline;
  font-size: 30px;
  margin: 10px;
  color: black;
  text-decoration: none;
}
body {
  /*background-image: url("http://getwallpapers.com/wallpaper/full/d/e/c/512653.jpg");*/
  font-family;
  margin: 0;
}
.header {
  padding: 40px;
  text-align: center;
  background: skyblue;
  color: red;
}
a:hover
{
  background-color: blue;
}
a
{
  text-decoration: none;
}

.header h1 {
  font-size: 40px;
}
p
{
  font-size: 30px;
}

.navbar {
  overflow: hidden;
  background-color: lightgreen;
  box-sizing: border-box;s
}
.active, .navbar ul li:hover
{
  background-color: blue;
  border-radius: 3px;
}
.navbar .fa
{
  margin-right: 8px;
}
.navbar1
{
  display: none;
}
.navbar ul li:hover .navbar1
{
  display: block;
  position: absolute;
  background: yellow;
  margin-top: 15px;
  margin-left: 15px;
}
.navbar ul li:hover .navbar1
{
  display: block;
  margin: 10px;
}
.navbar ul li:hover .navbar1 ul li
{
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid blue;
  border-radius: 0;
  text-align: left;
}
.navbar ul li:hover .navbar1 ul li:last-child
{
  border-bottom: none;
}
.navbar ul li:hover .navbar1 ul li
{
  color: blue;
}
.dropdown {
  float: left;
  overflow: hidden;
  font-size: 40px;
}

.dropdown .dropbtn {
  font-size: 40px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.navbar .fa
{
  margin-right: 8px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.banner-main{background: url('http://www.allwhitebackground.com/images/5/Black-Background-Picture.png') no-repeat center;
min-height: 200px;background-size: cover;}

.services{padding:20px 0px;
  background:grey;overflow:auto;
}
/*.services .box{float:left;width:45%;float:left;
   height:200px;
  margin:15px 3% 15px 0px;background: lightgreen ;text-align: center;position:relative;}
/*.services .box:last-child{margin-right:0px;}
.clearfix:after{
   content:"";
   display:table;
   clear:both;

}*/
/*.services .box h4{margin:0px;position:absolute;display: inline-block;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
}*/
.services .list{display:flex;}
.services .list .box{width:23%;border:1px solid black;height:200px;
  background: lightgreen;
  margin: 10px;
  text-align: center;
}
/*@media only screen and (min-width:800px) {
  /* For tablets: */
  /*.navbar {
    width: 80%;
    padding: 0;
  }
  .navbar {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
 /* .navbar, .navbar1, .banner-main .services .container {
    width: 100%;
  }
}*/
.user-data{
  padding:20px 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGwKqgXV5Jy126SLop7a-UvviC73DE5NqV7APDWaJZQXtqCy-vjg&s");
  background-repeat: no-repeat;
  background-size: cover;

}
.user-data .form-row{
  margin-bottom:20px;
}
.user-data .form-row label{
   display:block;font-weight:bold;margin-bottom:10px;
}
.user-data .form-row .form-control{
   height:42px;padding:5px 7px;border:1px solid #cccccc;
   border-radius:4px;display:block;width:100%;
   padding-left:25px;
}
.user-data form{max-width:600px;margin:0px auto;width:100%;}
.user-data .form-row .btn{
   padding:8px 15px;background:#000000;border:0px;display:inline-block;
   color:#ffffff;min-width:140px;font-size:20px;font-weight:bold;border-radius:5px;
}
.user-data .form-row .input-wrapp{
  position:relative;
}
.user-data .form-row .input-wrapp:before{
  content: "\f007";
  font-family:FontAwesome;
  height:30px;
  width:30px;
  position:absolute;
  top:4px;
  left:6px;
  display:inline-block;
  font-size:20px;
}
.user-data .form-row .input-wrapp1:before{
  content: "\f0e0";
  font-family:FontAwesome;
  position:absolute;
  height: 100px
  width:100px;
  display:inline-block;
  font-size:20px;

  }
  .user-data .form-row .input-wrapp2:before{
  content: "\f084";
  font-family:FontAwesome;
  position:absolute;
  height: 100px
  width:100px;
  display:inline-block;
  font-size:20px;

}
.user-data .form-row .input-wrapp3:before{
  content: "\f095";
  font-family:FontAwesome;
  position:absolute;
  height: 100px
  width:100px;
  display:inline-block;
  font-size:20px;
}
.containe{
  color: red;
  background-color: navy;
  margin: 40px;
  padding: 40px;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 500px: 
 
}

