/**{

    margin: 0px;
    padding: 0px;
}

*/
body{
    font-family: sans-serif;
    background-color: white;

}
.sidebar{
    height: 100vh;
    background-color: skyblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black;

}
.bottom-border{
    border-bottom: 5px dotted black;
}
.current{
    background-color: #871C1C;
    border-radius: 8px;
    box-shadow: 2px 5px 5px black;
    transition: all .3s;
}
 .current:hover{
    background-color: #C62828;
    border-radius: 8px;
    box-shadow: 2px 5px 5px white;
    transform: transform:translateY(-1px);
 }
 .sidebar-link{
    transition: all .4s;
 }
 .sidebar-link:hover{
    background-color: #C62828;
    border-radius: 5px;
 }
 .top-bar{
    background-color: skyblue;
 }
 .search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #871C1C;
    transition: all .4s;
 } 
 .search-input:focus{
    background: transparent;
    box-shadow: none;
    border-radius: 2 px solid #871C1C;

 }
 .search-button{
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;

 }
.search-button: hover{
    background-color: white;
    transform: translateY(-1px);
}
.htop {
            position: relative;
            margin-top: 50px;
            width: 100%;
            text-align: center;
            min-height: auto;
            background-image: url("a3.jpg");
            /*background-image: url(http://placehold.it/1600x700);*/
            background-size: cover;
            color: white;
            font-size: 1em;
            padding: 3em;
        }
        .card .card-block i{
          font-size: 2rem;
          background: blue;
          padding: 1rem;
          border-radius: 49%;
          margin-bottom: 1rem;
          padding: 20px;
          margin-left: 120px;
         

        }
        .card .card-block i:hover{
        background-color: black;
        color: lightyellow;
        }
input-form-control{
    color: white;

}
.icon-parent{
    position: relative;

}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #871C1C;
    border-radius: 50%;

}

        @media (min-width:768px) {
            .htop {
                min-height: 100%;
            }
            .msection {
                min-height: 100%;
                padding: 6em 0;
            }
        }
        .card-common{
            box-shadow: 1px 2px 5px gray;
            transition: all .4s;
        }
        .card-common:hover{
            box-shadow: 2px 3px 15px gray;
            transform: translateY(-1px);

        }
        .page-item{
            color: skyblue;


        }
        .page-link{
            color: skyblue;
        }
        .page-item .active .page-link{
            background-color: skyblue;
            border-color: skyblue;
            box-shadow: none;

        }
        