

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bitter', serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3m9ro-LtDDSocxdFSlvFRm1KzzJB879xx1R0DY3lIIw0-w9ttqg&s");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f4f4f4;
  line-height: 1.8;
}

a {
  text-decoration: none;
}
.header{
  color: black;
  text-align: center;
  font-size: 30px;
}

#container {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
}

.form-wrap {
  background: lightblue;
  padding: 15px 25px;
  color: black;

  border: #cccc 1px solid;
  border-radius: 10px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}
.form-group i{
  position: absolute;
  margin-left: 7px;
  padding-top: 10px;
  font-size: 25px;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label{
  display: block;
  color: black;
}

.form-wrap .form-group input {
  padding: 10px;
  width: 100%;
  border: rgb(48, 65, 124) 1px solid;
  border-radius: 5px;
  text-align: center;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  border: #333 1px solid;
}

.form-wrap button:hover {
  background-color: red;
}

.form-wrap .bottom-text {
  font-size: 14px;
  margin-top: 30px;
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: #009e08;
}