* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	color: black;
    line-height: 2.5;
    font-family: sans-serif;
    font-size: 16px;

} 
.navbar
{
	background: #0BA9F9;
	text-align: center;

}
.logo
{
	float: left;
}
.navbar ul{
	display: inline-flex;
	list-style: none;
	/*color: black;*/
}
.navbar ul li{
	width: 120px;
	margin: 23px;
    padding: 15px;
}
.navbar ul li a{
	text-decoration: none;
	color: #ffffff;
}
.navbar ul li:hover{
	background: #000000;
	border-radius: 3px;
}
.navbar .fas{
	margin-right: 8px;
}
.navbar1{
  color: blue;
}
.navbar ul li:hover .navbar1
{
	display: block;
	position: absolute;
	background: red;
	margin-top: 15px;
	margin-left: -15px;
}
.navbar ul li:hover .navbar1 ul{
	display: block;
	margin: 10px;
}
.navbar ul li:hover .navbar1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.banner-main{background: url('a.jpeg') no-repeat center;
min-height: 400px;background-size: cover;}

.ser {
    padding: 1.5rem 0;
    }
#services .service1 {
    display: flex;
    padding: 16px;
    }
    
    #services .service1 .service2 {
    flex: 1;
    text-align: center;
    padding: 1rem;
    }
    
    #services .service1 .service2 i {
    font-size: 2rem;
    background: #0BA9F9;
    padding: 1rem;
    border-radius: 49%;
    margin-bottom: 1rem;
    }
    #services .service1 .service2 i:hover {
    background-color: #444444;
    color: #ffffff;
    }


.container
{
	margin: 10px auto;
    max-width: 600px;
    padding: 20px;
}
.form-wrap {
  background: lightgrey;
  padding: 15px 25px;
  color: black;
  /*text-align: center;*/

  border: black 1px solid;
  border-radius: 10px;
}
.form-wrap .form {
  margin-top: 5px;
}
.form-wrap .form label{
  display: block;
  color: black;
  text-align: left;
}
.form-wrap .form input {
  padding: 10px;
  width: 100%;
  border: rgb(48, 65, 124) 1px solid;
  border-radius: 5px;
  text-align: center;
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  /*background-color: black;*/
  color: black;
  cursor: pointer;
  font-size: 1.1rem;
  border: #333 1px solid;
  text-align: center;
}

.form-wrap .form i{
position: absolute;
font-size: 20px;
padding: 10px;
}
.foot
{
  background-color: #002233;
  color: #0ba9f9;
  font-size 12px;
  text-align: center;
  padding: 20px;
}