* {
    border-radius: 0 !important;
    box-sizing: border-box;
  }
  body {
    font-family: 'Ubuntu', sans-serif !important;
  }
  #main-nav {
    background-color: #1D2656 !important;
    color: #fff;
  }
  #bat {
    color: #fff;
    background-color: rgb(207, 15, 15);
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 25px;
    padding: 5px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: lighter;
  }
  .nav-link {
    color: darkgrey !important;
  }
  #row-top {
    margin-top: 1%;
  }
  
  .border-bot {
    background-color: red;
    border-radius: 1px solid line;
    height: 5px;
    width: 100%;
  }
  .div{
      margin-top: 8px;
  }

  .images-carousel {
    width: 100%;
  }
  
  .img-thumbnail {
    background-color: #f8f8f8;
    border: 1px solid #ededed;
  }
  
  .text-danger {
    color: #e74c3c;
  }
  
  .collage-images-1 {
    width: 100%;
    height: 81%;
  }
  .collage-images-2 {
    width: 100%;
    height: 38%;
  }
  .collage-images-3 {
    width: 100%;
    height: 38%;
  }
  .main-title-outer {
    border-bottom: 1px solid #ededed;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .main-title {
    border-left: solid 2px #e74c3c;
    position: relative;
    z-index: 1;
    background-color: #e74c3c;
    float: left;
    margin: 0 5px;
    text-align: center;
    border-bottom: none;
    padding: 0 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    height: 36px;
    line-height: 36px;
  }

  .main .nav-2 a
  {
      color:#fff!important;
      font-weight: bold;
  }
  .main .nav-2 a:hover
  {
      color: #FF0606!important;
  }
  .main .nav-2 nav
  {
      border-bottom:3px solid #FF0606!important;
  }
  .arrow i
  {
      margin-top: 25%;
      color: #fff;
      font-size: 32px;
  }
  .left-text
  {
      display: inline-block;
      background:#FF0606;
      border-radius: 5px;
  }
     
  .fa-star,.fa-pie-chart,.fa-comments
  {
      color: #FF0606;
  }

  .page-footer{
	background-color: gray;
} 