body,
        html {
            height: 100%;
            width: 100%;
        }
        
        #mainNav {
            background-color: black;
        }
        
        .htop div,
        #about .container,
        #contact .container {
            background-color: rgb(0, 0, 0) transparent;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 10px;
            color: white;
        }
        
        #sidemenu {
            padding: 4em 0;
        }
        
        #sidemenu .container {
            padding: 2em;
        }
        
        .htop {
            position: relative;
            margin-top: 50px;
            width: 100%;
            text-align: center;
            min-height: auto;
            background-image: url("a3.jpg");
            /*background-image: url(http://placehold.it/1600x700);*/
            background-size: cover;
            color: white;
            font-size: 1em;
            padding: 3em;
        }
        
        #about {
            background-image: url("a4.jpg");
            /*background-image: url(http://placehold.it/1600x700);*/
            background-size: cover;
        }
        .card .card-block i{
          font-size: 2rem;
          background: blue;
          padding: 1rem;
          border-radius: 49%;
          margin-bottom: 1rem;
          padding: 20px;
          /*margin-left: 10px;*/
         

        }
        .card .card-block i:hover{
        background-color: black;
        color: lightyellow;
        }
        #contact {
            background-image: url("a6.jpg");
            /*background-image: url(http://placehold.it/1600x700);*/
            background-size: cover;
        }
        
        .footerA {
            height: 50px;
            padding: 20px;
            margin-top: 40px;
        }
        
        @media (min-width:768px) {
            .htop {
                min-height: 100%;
            }
            .msection {
                min-height: 100%;
                padding: 6em 0;
            }
        }