body{
	background-image: url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}   
.abc{
	position: absolute;
	margin-left: 740px;
	margin-top: 50px;
	padding: 20px;
}
.abc1{

	margin-top: 150px;
	margin-left: 500px;
	padding: 20px;
	position: absolute;

}