body,
        html {
            height: 100%;
            width: 100%;
        }
        
        #mainNav {
            background-color: #192a56;

        }
       #time-date{
       	float: right;

       	margin-left: 800px;
       }
       #mainNav{
       	border-bottom: 5px solid red;
       }

  .header-toolbar {
  font-size: 11px;
  font-weight: 1rem;
  color: #78899b;
  border-bottom: 1px solid #ecf0f1;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-toolbar a {
  color: #78899b;
}
.header-toolbar a:hover {
  color: #bd4336;
}
.header-toolbar ul.list-inline {
  margin-bottom: 0;
}
.header-toolbar ul.list-inline li {
  padding-right: 6px;
  padding-left: 6px;
}
.list-inline{
	display: inline-flex;
}
.navbar-nav{
        	text-align: center;
        }
        .column {
  float: left;
  width: 33.33%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.msection{
	padding: 50px;
}
.card .card-block h3{
          font-size: 2rem;
          background-color: red;
          padding: 1rem;
          margin-bottom: 1rem;
          padding: 20px;
          text-align: left;
         
         

        }
        .checked {
  color: orange;
}
.star{

}
.page-footer{
	background-color: gray;
}
