*{
	margin: 0px;
	padding: 0px;
}
.d-block{
	width: 100%;
	height: 700px;
}
.card {
	width: 18em;
}
.mb-3
{
	max-width: 18rem; 
	margin: 10px; 
	text-align: center; 
	padding: 20px;
}
 .abc{
  font-size:  40px;
	 margin: 50px;
}
.dropdown-item: hover a{
	background-color: red;
}
.page-footer {
	background-color: lightpink;
}