body
{
	margin: 0;
	padding: 0;
	font-family: 'Libre Franklin', sans-serif;
}
a
{
	color: #fff;
	text-decoration: none;
}
nav
{
	background: skyblue;
}
.row .col-2
{
	background: skyblue;
	font-size: 20px;
}
.row
{
	height: auto;
}
.row .col-2 .nav li:hover
{
	background-color: black;
}
.main .collapse .navbar-nav li i
{
	color: #fff;
}
.main .collapse .navbar-nav li i:hover
{
	color: dodgerBlue;
}
.row .col-6
{
	height: auto;
}
.dashboard .card-container .col-sm-3:hover
{
	margin-top: -20px;
	transition: all 0.6s;
}