/* Below line is write to use Google font online */
@import "http://fonts.googleapis.com/css?family=Ubuntu";
div#main{
width:830px;
height:650px;
margin:0 auto;
font-family:'Ubuntu',sans-serif;
text-align: center;
}
div#form_sample{
text-align:center;
border:1px solid #ccc;
width:300px;
padding:0 50px 15px;
margin-top:20px;
box-shadow:0 0 15px;
border-radius:6px;
margin-left: 220px;
/* float:right; */
}
#main h1{
margin-top:40px;
}
hr{
margin-top:-5px;
}
label{
float:left;
font-size:16px;
}
input[type="text"]{
width:100%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:10px;
border:3px solid red;
text-align: center
}
textarea{
width:100%;
border:3px solid red;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none;
}
input[type="submit"]{
width:100%;
padding:10px 45px;
background-color:rgb(202, 29, 38);
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}
/* -------------------------------------
CSS for Sidebar (optional)
---------------------------------------- */
div#fugo{
float:right;
}